*{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
  cursor:default;
}

a,
.card,
.placeholder,
.badgeholder *,
.item,
.item *{
  cursor:pointer;
}

input,
textarea,
.selectable{
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-o-user-select: auto;
	user-select: auto;
	cursor:text;
}

html,
body{
	margin:0;
	padding:0;
}

body{
	background:#086139;
	background-image: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,.0) 0%,rgba(0,0,0,.75) 100%),
	url("img/debut_dark.png");
	background-image: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,.0) 0%,rgba(0,0,0,.75) 100%),
	url("img/debut_dark.png");
	background-image: radial-gradient(center, ellipse cover, rgba(0,0,0,.0) 0%,rgba(0,0,0,.75) 100%),
	url("img/debut_dark.png");
	font-family:Roboto,sans-serif;
	text-shadow:1px 1px 2px rgba(0,0,0,.5);
	transition:background-color .15s;
	-moz-transition:background-color .15s;
	-webkit-transition:background-color .15s;
}

body.flash{
	background-color:#043013;
}

a{
	color:white;
}

dt{
	font-weight:bold;
}

#gameboard{
	position:relative;
	height:0;
	opacity:0;
	margin:0 auto;
	transition:opacity .5s;
	-moz-transition:opacity .5s;
	-webkit-transition:opacity .5s;
	
}

.gamenumber:before{
	content:"#";
}
.gamenumber{
	opacity:0;
	transition:opacity .5s;
	-moz-transition:opacity .5s;
	-webkit-transition:opacity .5s;

	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-o-user-select: auto;
	user-select: auto;

	cursor:carat !important;
}

.card,
.placeholder{
	display:block;
	background:white url("img/cards/default-or8.png") no-repeat center;
	border-radius:5px;
	background-size:98.5% auto;
	width:104px;
	height:151px;
	margin:10px;
	position:absolute;
	/* Fix for Chrome repaint bug.
	 * See http://stackoverflow.com/questions/12874873/repaint-trace-in-chrome-bug
	 */
	outline:1px solid rgba(0,0,0,0) !important;
}

.ready .card{
	transition:all .25s;
	-moz-transition:all .25s;
	-webkit-transition:all .25s;
	
}

.card,
.flipped{
	border:1px solid lightgrey;
	background-color:white;
}

.dragging{
	transition:none !important;
	-moz-transition:none !important;
	-webkit-transition:none !important;
	z-index:100!important;
}

.flipped{
	background-image:url("img/cards/default-or8.png") !important;
}
.ready .flipping{
	-webkit-transform:scale(.01,1);
}

.deck{
	visibility:hidden;
}

.hint,
.placeholder.hint{
	transition:box-shadow,border 1s !important;
	-moz-transition:box-shadow,border 1s !important;
	-webkit-transition:box-shadow,border 1s !important;
	box-shadow:0 0 .5em darkred !important;
	border:1px solid red !important;
}

.placeholder.hint{
	border:none !important;
}

#deck{
	cursor:pointer;
}

.placeholder{
	background:transparent;
	background:rgba(255,255,255,.05);
	box-shadow:2px 2px 10px rgba(0,0,0,.1);
}

.card.current{
	box-shadow:0px 0px 20px yellow;
}
.card.pressed{
	box-shadow:0px 0px 20px orange;
}

.row{
	list-style:none;
	margin:0;
	padding:0;
}
.row li{
	float:left;
}


/* Spider */
#stock{
	float:left;
}

#foundation{
	float:right;
}

/* Dialogs */
.dialog{
	position:absolute;
	left:50%;
	margin-left:-25%;
	width:50%;
	color:black;
	padding:20px;
	color:white;
	border-radius:5px;
	transition:opacity .5s;
	-moz-transition:opacity .5s;
	-webkit-transition:opacity .5s;
	
	
}
/* Potentially dead now I've removed titlebars etc.
.dialog .titlebar{
	background:rgba(0,0,0,.5);
	padding:20px;
	margin:-20px -20px 0;
	font-size:14pt;
	border-radius:5px 5px 0 0;
}

.dialog .titlebar .close{
	float:right;
	display:block;
	border-radius:2px;
	background:#0099cc;
	border: 1px solid black;
	display:none;
}
*/

.dialog ul{
	list-style:none;
	margin:2em 0 0;
	padding:0;
}

.dialog .item,
.button,
.badgeholder{
	background:rgba(0,0,0,.15) no-repeat left top;
	border-radius:5px;
/*
	border:1px solid white;
	border-color:rgba(255,255,255,.05) rgba(128,128,128,.03) rgba(0,0,0,.03) rgba(128,128,128,.03);
*/

	transition:all .25s;
	-moz-transition:all .25s;
	-webkit-transition:all .25s;
	outline:none !important;
	
	cursor:pointer;
}

.dialog .item:hover,
.button:hover,
.badgeholder:hover{
	background-color:rgba(0,0,0,.5);
}

.dialog .item{
	clear:both;
	min-height:110px;
	background-size:auto 150px;
	padding:20px 20px 20px 150px;
	margin-bottom:20px;
}

.dialog.gameComplete .item{
	padding-left:20px;
}

img.alignright{
	width:20%;
	float:right;
	margin:20px 3%;
}

.dialog .large,
.dialog .item h2{
	margin:0;
	font-weight:bold;
	font-size:30pt;
}

.center{
	text-align:center;
}

ul.center li{
	display:inline-block;
}

ul.center li:before{
	content: "| ";
}

ul.center li:first-child:before{
	display:none;
}

.dialog .item p{
	font-size:14pt;
	margin:.5em 0 0;
}

.dialog .minor{
	font-size:14pt;
	text-align:center;
}

.dialog .item .addendum{
	display:block;
	text-align:right;
	margin-top:-1.4em;
	font-size:20pt;
	color:#705F61;
}

.dialog .item#one-suit{
	background-image:url("img/items/one-suit-or8.png");
}

.dialog .item#two-suit{
	background-image:url("img/items/two-suit-or8.png");
}

.dialog .item#four-suit{
	background-image:url("img/items/four-suit-or8.png");
}

.dialog .column{
	display:block;
	float:left;
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.dialog .column.left{
    width:65%;
    padding-right:1em;
}
.dialog .column.right{
    float:right;
    width:35%;
}

table{
    border-collapse:collapse;
    width:100%;
}

td{
/*
    border:1px solid white;
*/
}
td,th{
    padding:.5em;
}

@media screen and (max-width: 1030px){
	
	.dialog .large,
	.dialog .item h2,
	.dialog .item .addendum{
		font-size:16pt;
	}
}

@media screen and (max-width: 800px){
	
	.dialog{
		margin:0 10%;
		left:0;
		width:auto;
	}
	
	.dialog .item{
		height:auto;
	}
	
	.dialog .large,
	.dialog .item h2,
	.dialog .item .addendum{
		font-size:14pt;
		float:none;
		margin:0;
		padding:0;
		text-align:left;
	}
	
	.dialog .item p{
		font-size:12pt;
	}
	
}

/* Toolbar */
#toolbar{
	margin:0;
	padding:10px 10px 10px 52px;
	line-height:32px;
	color:#5F7065;
	position:relative;
	background: rgba(0,0,0,.9); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0,0,0,.9) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,.9) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, rgba(0,0,0,.9) 0%,rgba(0,0,0,0) 100%); /* W3C */

}

#toolbar .titlebar{
	font-weight:bold;
}

#toolbar a{
	color:#5F7065;
	text-decoration:none;
}

#toolbar > li{
	display:inline-block;
}


#toolbar > li{
	padding:0 8px;
}

#toolbar .button:hover{
	background-color:#000;
}

#toolbar .right{
	float:right;
	margin:0 1em 0 0;
}

#toolbar .gameonly{
	opacity:0;
	transition:opacity .5s;
	-moz-transition:opacity .5s;
	-webkit-transition:opacity .5s;
}

#toolbar.gameactive .gameonly{
	opacity:1;
}

#tb-menu{
	border-radius:5px;
	position:absolute;
	z-index:5;
	left:10px;
	top:10px;
	width:34px;
	height:34px;
	padding:0 !important;
	background:rgba(0,0,0,0);
	cursor:pointer;
	overflow:hidden;
	
	transition:all .1s;
	-moz-transition:all .1s;
	-webkit-transition:all .1s
}

#tb-menu > a{
	display:block;
	width:0;
	padding-left:32px;
	margin-bottom:4px;
	height:32px;
	background-image:url("img/toolbar/menu.svg");
	overflow:hidden;
}

#tb-menu.toggled{
	height:235px;
	width:200px;
	cursor:auto;
	background:rgba(0,0,0,.9);
	box-shadow:2px 2px 5px rgba(0,0,0,.5);
}

#tb-menu ul{
	margin:0;
	padding:0;
}
#tb-menu.toggled ul{
	display:block;
}

#tb-menu ul li{
	display:block;
}

#tb-menu ul a{
	display:block;
	margin:0;
	padding:0 8px;
	line-height:32px;
	border-bottom:1px solid rgba(255,255,255,.08);
	
	transition:all .1s;
	-moz-transition:all .1s;
	-webkit-transition:all .1s
}

#tb-menu ul a:hover{
	background-color:#5F7065;
	color:white;

}

/* Form fields */
label{
	display:block;
}

input[type="text"],
textarea,
button{
	font-size:1em;
	background:white;
	color:black;
	border:1px solid black;
	border-color: #B6E2BE;
	border-radius:4px;
	box-shadow:
		1px 1px 4px rgba(128,128,128,.1) inset,
		1px 1px 4px rgba(0,0,0,.3);
	padding:.5em;
}

input[type="text"],
textarea{
    min-width:90%;
}

textarea{
    height:7em;
}

textarea:focus,
input[type="text"]:focus{
	box-shadow: 0px 0px 4px rgba(0,255,0,.3);
	outline:none;
}
button{
	cursor:pointer;
	border-color:rgba(255,255,255,.2) rgba(255,255,255,.1) rgba(0,0,0,.1);
	background:#086139;
	color:white;
	font-weight:bold;
	padding:.5em 1em;
	-webkit-transition:all .25s;
}
button:focus,
button:hover{
	background-color:#009D57;
}
button:active{
  background-color:#086139;
}

/* About page */
.gameAbout .center{text-align:center;}

.gameAbout .sk-logo{
	max-width:20%;
}

/* Images */
.card-ace-hearts{background-image:url("img/cards/ace_of_hearts-or8.png");}
.card-2-hearts{background-image:url("img/cards/2_of_hearts-or8.png");}
.card-3-hearts{background-image:url("img/cards/3_of_hearts-or8.png");}
.card-4-hearts{background-image:url("img/cards/4_of_hearts-or8.png");}
.card-5-hearts{background-image:url("img/cards/5_of_hearts-or8.png");}
.card-6-hearts{background-image:url("img/cards/6_of_hearts-or8.png");}
.card-7-hearts{background-image:url("img/cards/7_of_hearts-or8.png");}
.card-8-hearts{background-image:url("img/cards/8_of_hearts-or8.png");}
.card-9-hearts{background-image:url("img/cards/9_of_hearts-or8.png");}
.card-10-hearts{background-image:url("img/cards/10_of_hearts-or8.png");}
.card-jack-hearts{background-image:url("img/cards/jack_of_hearts-or8.png");}
.card-queen-hearts{background-image:url("img/cards/queen_of_hearts-or8.png");}
.card-king-hearts{background-image:url("img/cards/king_of_hearts-or8.png");}
.card-ace-spades{background-image:url("img/cards/ace_of_spades-or8.png");}
.card-2-spades{background-image:url("img/cards/2_of_spades-or8.png");}
.card-3-spades{background-image:url("img/cards/3_of_spades-or8.png");}
.card-4-spades{background-image:url("img/cards/4_of_spades-or8.png");}
.card-5-spades{background-image:url("img/cards/5_of_spades-or8.png");}
.card-6-spades{background-image:url("img/cards/6_of_spades-or8.png");}
.card-7-spades{background-image:url("img/cards/7_of_spades-or8.png");}
.card-8-spades{background-image:url("img/cards/8_of_spades-or8.png");}
.card-9-spades{background-image:url("img/cards/9_of_spades-or8.png");}
.card-10-spades{background-image:url("img/cards/10_of_spades-or8.png");}
.card-jack-spades{background-image:url("img/cards/jack_of_spades-or8.png");}
.card-queen-spades{background-image:url("img/cards/queen_of_spades-or8.png");}
.card-king-spades{background-image:url("img/cards/king_of_spades-or8.png");}
.card-ace-clubs{background-image:url("img/cards/ace_of_clubs-or8.png");}
.card-2-clubs{background-image:url("img/cards/2_of_clubs-or8.png");}
.card-3-clubs{background-image:url("img/cards/3_of_clubs-or8.png");}
.card-4-clubs{background-image:url("img/cards/4_of_clubs-or8.png");}
.card-5-clubs{background-image:url("img/cards/5_of_clubs-or8.png");}
.card-6-clubs{background-image:url("img/cards/6_of_clubs-or8.png");}
.card-7-clubs{background-image:url("img/cards/7_of_clubs-or8.png");}
.card-8-clubs{background-image:url("img/cards/8_of_clubs-or8.png");}
.card-9-clubs{background-image:url("img/cards/9_of_clubs-or8.png");}
.card-10-clubs{background-image:url("img/cards/10_of_clubs-or8.png");}
.card-jack-clubs{background-image:url("img/cards/jack_of_clubs-or8.png");}
.card-queen-clubs{background-image:url("img/cards/queen_of_clubs-or8.png");}
.card-king-clubs{background-image:url("img/cards/king_of_clubs-or8.png");}
.card-ace-diamonds{background-image:url("img/cards/ace_of_diamonds-or8.png");}
.card-2-diamonds{background-image:url("img/cards/2_of_diamonds-or8.png");}
.card-3-diamonds{background-image:url("img/cards/3_of_diamonds-or8.png");}
.card-4-diamonds{background-image:url("img/cards/4_of_diamonds-or8.png");}
.card-5-diamonds{background-image:url("img/cards/5_of_diamonds-or8.png");}
.card-6-diamonds{background-image:url("img/cards/6_of_diamonds-or8.png");}
.card-7-diamonds{background-image:url("img/cards/7_of_diamonds-or8.png");}
.card-8-diamonds{background-image:url("img/cards/8_of_diamonds-or8.png");}
.card-9-diamonds{background-image:url("img/cards/9_of_diamonds-or8.png");}
.card-10-diamonds{background-image:url("img/cards/10_of_diamonds-or8.png");}
.card-jack-diamonds{background-image:url("img/cards/jack_of_diamonds-or8.png");}
.card-queen-diamonds{background-image:url("img/cards/queen_of_diamonds-or8.png");}
.card-king-diamonds{background-image:url("img/cards/king_of_diamonds-or8.png");} 




.badgeholder{
    width:70%;
    margin:0 auto;
	position:relative;
	vertical-align:middle;
	height:84px;
}


.badgeholder p{
	padding:20px 20px 0 84px;
}

.badge{
	position:absolute;
	width:64px;
	height:64px;
	left:10px;
	top:10px;
	background-size:64px;
	
	-webkit-animation-name:bounceIn;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:1;
}

.badge.improved-time{
	background-image:url("img/badges/badge-time.png");
	margin-top:-5px;
	height:74px;
}

.badge.best-moves{
	background-image:url("img/badges/badge-moves.png");
	height:56px;
}

.badge.winningstreak-small,
.badge.winningstreak-large,
.badge.winningstreak-enormous{
	background-image:url("img/badges/badge-blank-star.png");
	height:80px;
}


@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
	}

	100% {
		-webkit-transform: scale(1);
	}
}

.dialog.scoreboard{
	background:rgba(0,0,0,.2);
	margin-top:2em;
}

.dialog.scoreboard .column.left{
	padding-left:1em;
}

.winpercent{
	background:no-repeat center top url("img/badges/badge-blank-star.png");
	background-size:100%;
	width:280px;
	height:360px;
	text-align:center;
	color: #3b935a;
	position:relative;
	text-shadow: none;
	
	-webkit-animation-name:bounceIn;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:1;
}

.winpercent .value{
    font-size:100px;
	position:absolute;
	left:0;
	right:0;
	top:20%;
}

.winpercent .title{
	font-size:24px;
	opacity:.75;
	position:absolute;
	top:46%;
	left:0;
	right:0;
}




@media screen and (max-width: 1400px){
    .winpercent{
        width:240px;
        height:310px;
    }
    .winpercent .value{
        font-size:90px;        
    }
    .winpercent .title{
        font-size:20px;

    }
}

@media screen and (max-width: 1100px){
    .winpercent{
        width:190px;
        height:250px;
    }
    .winpercent .value{
        font-size:70px;

    }
    .winpercent .title{
        font-size:16px;

    }
}

@media screen and (max-width: 800px){
    .winpercent{
        height:140px;
        width:110px;
    }
    .winpercent .value{
        font-size:40px;
    }
    .winpercent .title{
        font-size:9px;

    }
}

.badgeblock{
    margin:.5em 0;
}

.badgeblock .title{
    display:inline;
    margin-right:.5em;
}

.badgeblock .value{
	display:inline;
	font-weight:bold;
}


.loadGame table{
  width: 66%;
  margin:0 auto;
}
